.open-container {
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 480px;
    position: relative;
}

.logo {
    position: absolute;
    width: 15%;
    max-width: 80px;
    height: auto;
    top: 1.5%;
    right: 40%;
}

.header {
    color: white;
    text-align: center;
    position: absolute;
    width: 80%;
    font-size: clamp(18px, 7vw, 28px);
    right: 10%;
    top: 60%;
    font-weight: 450;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 75%;
    right: 40%;
    
    background: #FFD096;
    animation: glowPulse 2s ease-in-out infinite 2.5s;
    color: black;
    
    font-size: clamp(14px, 4vw, 20px);
    border-radius: 40px;
    padding: 9px 22px;
}

/* @keyframes flyUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
} */

@keyframes flyUp {
    from {
        transform: translate(-50%, 100vh);
    }

    to {
        transform: translate(-50%, 0);
    }
}

@keyframes glowPulse {
    0% {
        filter: drop-shadow(0 0 5px #ffffff);
    }

    50% {
        filter: drop-shadow(0 0 20px #7bdfff);
    }

    100% {
        filter: drop-shadow(0 0 5px #ffffff);
    }
}

.spaceship-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    width: clamp(150px, 58vw, 220px);
    animation:
        flyUp 2.5s cubic-bezier(.17, .67, .4, 1.4) forwards,
        float 4s ease-in-out infinite 2.5s;
}

.spaceship {
    width: 100%;
    max-width: 220px;
    height: auto;
    align-self: center;
}

.spaceship-wrapper.flying::after {
    opacity: 1;
}

.spaceship-wrapper::after {
    content: "";
    position: absolute;
    bottom: -16%;
    left: 50%;
    transform: translateX(-50%);
    width: 8%;
    height: 11%;
    background: linear-gradient(to bottom, #ffae00, #ff3c00, transparent);
    border-radius: 50%;
    opacity: 0;
    animation: flame 0.2s infinite alternate;
}

@keyframes flame {
    from {
        height: 15%;
        opacity: 0.8;
    }

    to {
        height: 17%;
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade.show {
    opacity: 1;
}