.primary-btn-end-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 3%;
    gap: 2%;

    background: #FFD096;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    color: black;
    font-size: clamp(0.85rem, 4.2vw, 1.2rem);
}

.img-btn-end-intro {
    width: 25%;
}

.secondary-btn-end-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 10%;
    gap: 4%;
    margin-top: 9%;

    background: #CEBFAC;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: black;

    font-size: clamp(0.85rem, 4.2vw, 1.2rem);
}

.end-intro-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.astroTilLearn {
    width: clamp(120px, 35vw, 200px);
    margin: 10%;
}

.end-intro-title-header {
    font-size: clamp(1.2rem, 7vw, 3rem);
    font-weight: 500;
    margin-top: 25%;
    width: 85%;
}

.end-intro-text-p {
    font-size: clamp(1rem, 5.1vw, 1.4rem);
    width: 80%;
    margin-bottom: 10%;
}

.ques-counter {
    font-size: clamp(0.95rem, 5vw, 1.5rem);
    font-weight: 500;
    margin: -1% 0;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}