.end-intro-container {
    min-height: 100vh;
    /* background-image: url("src/assets/media/MainBackground.png"); */
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 480px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 3%;
    gap: 2%;

    background: #FFD096;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-size: 120%;
}

.img-btn-end-intro {
    width: 25%;
}

.secondary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 10%;
    gap: 4%;
    margin-top: 9%;

    background: #CEBFAC;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-size: 120%;
}

.end-intro-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.astroTil {
    width: 40%;
    margin: 6%;
    position: absolute;
    bottom: 6%;
}

.end-intro-title {
    font-size: 190%;
    font-weight: 500;
    margin-top: 35%;
    width: 85%;
}

.end-intro-text {
    font-size: 140%;
    width: 80%;
    margin-bottom: 10%;
}

.ques-counter {
    font-size: 150%;
    font-weight: 500;
    margin: -1% 0;
}