.topics-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("src/assets/media/MainBackground.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 480px;
  color: white;
}

.TopicsBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #FFD096;
  animation: glowPulseBtn 2s ease-in-out infinite 2.5s;

  position: relative;
  top: 8%;
  margin: 10% 0;
  z-index: 4;

  width: 40%;
  max-width: 260px;
  min-width: 140px;

  font-size: clamp(0.9rem, 4vw, 1.3rem);

  padding: 0.6em 1.2em;
  border-radius: 2.5rem;

}

@keyframes glowPulseBtn {
  0% {
    filter: drop-shadow(0 0 5px #c2e3ff);
  }

  50% {
    filter: drop-shadow(0 0 20px #5ca8ff);
  }

  100% {
    filter: drop-shadow(0 0 5px #c2e3ff);
  }
}

.topics {
  z-index: 1;
  width: 60%;
  height: auto;
}

.TopicPageHeader {
  text-align: center;
  width: 80%;
  font-size: clamp(18px, 7vw, 28px);
  padding: 5% 0 2% 0;
}

.TopicPageText {
  text-align: center;
  width: 80%;
  font-size: clamp(10px, 4vw, 16px);
  padding: 0 0 8% 0;
}

.clouds {
  position: absolute;
  bottom: 0%;
  z-index: 0;
  width: 100%;
}

.astro {
  position: absolute;
  z-index: 5;
  width: 18%;
  height: auto;
  top: 21%;
  left: 10%;

  transform: translateY(120vh) rotate(0deg);
  animation:
    flyAstronaut 4s cubic-bezier(.17, .67, .4, 1.3) forwards,
    floatSpace 3s ease-in-out infinite 4s;

}

@keyframes flyAstronaut {

  0% {
    transform: translate(0, 120vh) rotate(0deg) scale(0.8);
  }

  30% {
    transform: translate(30vw, 40vh) rotate(180deg) scale(1);
  }

  55% {
    transform: translate(-10vw, 10vh) rotate(300deg);
  }

  75% {
    transform: translate(5vw, -5vh) rotate(360deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes floatSpace {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(0, 0);
  }
}