.practice-container {
    /* background-image: url("src/assets/media/MainBackground.png"); */
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 480px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .practice1-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .practice1-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    text-align: center;
    height: 65vh;

    background: rgba(23, 56, 99, 0.9);
    border-radius: 10px;
  }
  
  .practice-counter {
    align-self: flex-start;
    font-size: 150%;
    margin-bottom: 5%;
  }
  
  .practice-question {
    font-size: 150%;
    margin-bottom: 10%;
    line-height: 1.6;
  }
  
  .practice-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 2%;
  }
  
  .answer-btn {
    width: 45%;
    height: 42vh;
    font-size: 190%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .true {
    background-color: #A7DDF2;
    border-radius: 125px 0 0 125px;
  }
  
  .false {
    background-color: #70A2B9;
    border-radius: 0 125px 125px 0;
  }
  
  .answer-btn.correct {
    box-shadow: 0 0 25px #35AD44;
  }
  
  .answer-btn.highlight {
    box-shadow: 0 0 25px #EA2333;
  }
  
  .feedback {
    margin-top: 8%;
    font-size: 18px;
    font-weight: bold;
  }
  
  .feedback.correct {
    color: #85BF8C;
  }
  
  .feedback.wrong {
    color: #ED5E5E;
  }
  
  .practice1-title {
    padding: 15% 0 0 0;
    width: 120%;
    height: auto;
    font-weight: 400;
    font-size: 220%;
    text-align: center;
  }

  .astroTil-practice {
    position: absolute;
    width: 21%;
    bottom: 4%;
    right: 7%;
  }