@font-face {
    font-family: "Fredoka";
    src: url("src/assets/fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf");
}

* {
    font-family: "Fredoka";
    direction: rtl;
}

.app-wrapper {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B6771;
  }
/*   
  .mobile-frame {
    width: 100%;
    max-width: 430px;   /* רוחב של אייפון גדול */
    /* min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #3B6771;
  } */

  /* .mobile-frame {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    background-color: #3B6771;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
    border-radius: 25px;
    overflow: hidden;
  } */

  .mobile-frame {
    width: 100%;
    max-width: 430px;
    aspect-ratio: 9 / 19.5;   /* יחס של טלפון */
    background-color: #3B6771;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
    border-radius: 25px;
  }
  
  @media (max-width: 480px) {
    .mobile-frame {
      max-width: 100%;
      aspect-ratio: auto;
      min-height: 100vh;
      border-radius: 0;
      box-shadow: none;
    }
  }
  