.flip-card {
    color: black;
    margin: 4% 0;

    width: 85%;
    height: 17.5vh;
    perspective: 1000px;
    margin: 3% 0;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9CD8F4;
    border-radius: 10px;
}

.flip-front {
    background: linear-gradient(145deg, #9CD8F4, #6fc2e8);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


.flip-back {
    transform: rotateY(180deg);
    background: linear-gradient(145deg, #ffcf88, #ff9f4a);
    transform: rotateY(180deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.cards-description {
    text-align: center;
    margin: 2% 0;
    padding: 0 2%;
}

.card-title {
    font-size: 120%;
    font-weight: 550;
    margin-bottom: 6%;
    text-align: center;
}

.card-p-back {
    font-size: 100%;
    padding: 0 4%;
}

.card-image {
    width: 55%;
    height: auto;
}

.baby-asteroid {
    width: 32%;
}